<html ng-app="app" ng-controller="calendarControl">
<head>
	<title>Astro calendar</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
</head>
<body style="background:black; color: darkred;">
	<div id="years">
		<div ng-repeat="year in years">{{year.year}}</div>
	</div>
	<div id="months">
		
	</div>
	<div ng-repeat="date in dates" style="display: inline-block; vertical-align:top;">
		<img height=150 width=150 ng-src="{{date.img}}" ng-click="setBigIMG(date)">
		<div style="text-align: center;">{{date.date}}</div>
		<div style="text-align: center;" ng-show="date.post!=undefined"><a style="color:darkred" target="_blank" href="{{date.post}}">Go to post</a></div>
	</div>
	<div style="position: fixed; top:0; left:0; height: 100%; padding-right: 100%; display:inline-block; background:black;" ng-click="showBigIMG = !showBigIMG" ng-show="showBigIMG">
		<div class="dummy" style="margin-top: 100%"></div>
		<div ng-style="{'background-image':'url(' + BigIMG + ')'}" style="position:absolute; top: 0; bottom:0; left: 0; right:0; background-size: cover;"></div>
	</div>
	
	<script>
		var astroModule = angular.module('app', []).
		controller("calendarControl", function calendarControl($scope){
		
		$scope.showBigIMG = false;
		$scope.BigIMG = "images/first-ever-moon.JPG";
		
		$scope.setBigIMG = function(date){
			$scope.BigIMG=date.img;
			$scope.showBigIMG = !$scope.showBigIMG; 

		}
		
		$scope.years = [{year:2014},{year:2015}];
		
		/*$scope.months = function(){
		
		}*/
		
		$scope.dates = [{img:"images/first-ever-moon.JPG", date:"December 30th 2014", post:"the-moon-and-jupiter.html"},
		{img:"images/Moon-epiphany.png", date:"January 3rd 2015"}];
		
		
		
		});
	</script>
	
</body>
</html>