<html ng-app="app" ng-controller="calendarControl">
<head>
	<title>Astro calendar</title>
	<script src="lib/angular.js"></script>
<script>	
	 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-52254492-1', 'michalpaszkiewicz.co.uk');
  ga('send', 'pageview');
  </script>
</head>
<body style="background:black; color: darkred;">
	<div id="main-container">
		<h1 style="text-align: center" ng-click="LOLOL = true;">Astrophotography calendar</h1>
		<div id="years" ng-show="false">
			<div ng-repeat="year in years">{{year.year}}</div>
		</div>
		<div id="months">
			
		</div>
		
		<div ng-show="LOLOL">
			<div class="week names">
			    <span class="day">Sun</span><span class="day">
			    Mon</span><span class="day">
			    Tue</span><span class="day">
			    Wed</span><span class="day">
			    Thu</span><span class="day">
			    Fri</span><span class="day">Sat</span>
			</div>	
			<div class="week"></div>
		</div>
		
		<div ng-repeat="date in dates" style="display: inline-block; vertical-align:top; height:186px">
			<img height=150 width=150 ng-src="images/small-{{date.img}}" ng-click="setBigIMG(date)">
			<div style="text-align: center;">{{date.date}}</div>
			<div style="text-align: center;" ng-show="date.post!=undefined"><a style="color:darkred" target="_blank" href="{{date.post}}">Go to post</a></div>
		</div>
		
		<div style="position: fixed; top:0; left:0; width: 100%; height: 100%; overflow-y: auto; display:inline-block; background:black;" ng-click="showBigIMG = !showBigIMG" ng-show="showBigIMG">
			<div ng-style="{'background-image':'url(images/' + BigIMG + ')'}" style="width: 100%; padding-bottom: 100%; background-size: cover;"></div>
		</div>
		<div id="footer-push"></div>
	</div>
	<div id="footer">By <a href="index.html" style="color: darkred">Michal Paszkiewicz</a></div>
	
	<style>
		html, body{height: 100%; width: 100%; margin: 0; padding: 0;}
		#main-container{min-height: 100%;}
		#footer-push, #footer{height: 50px;}
		#footer{margin-top: -50px; text-align: center;}
		
		.week{}
		.day{min-width: 150px; display: inline-block; text-align: center;}
	</style>
	
	<script>
		var astroModule = angular.module('app', []).
		controller("calendarControl", function calendarControl($scope){
		
		$scope.showBigIMG = false;
		$scope.BigIMG = "images/first-ever-moon.JPG";
		
		$scope.setBigIMG = function(date){
			$scope.BigIMG=date.img;
			$scope.showBigIMG = !$scope.showBigIMG; 

		}
		
		$scope.years = [{year:2014},{year:2015}];
		
		/*$scope.months = function(){
		
		}*/
		
		$scope.dates = [
		{img:"SavedMeteor.jpg", date:"December 15th 2014", post:"astrophotography.html"},
		{img:"first-ever-moon.JPG", date:"December 30th 2014", post:"the-moon-and-jupiter.html"},
		{img:"Moon-epiphany.png", date:"January 3rd 2015"}];
		
		
		
		});
	</script>
	
</body>
</html>
