.fourohfour h1{
  display: inline-block;
  clear: both;
  font-size: 12em;
  /* transform: rotateY(180deg); */
  /* -webkit-transform: rotateY( 180deg ); */
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
}

#panel2 .panel-box h2{
  float: none;
}
