.fourohfour h1{
  display: block;
  clear: both;
  margin: auto;
  width: 300px;
  font-size: 12em;
  /* transform: rotateY(180deg); */
  /* -webkit-transform: rotateY( 180deg ); */
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform-style: preserve-3d;
  color: red;
  text-shadow: 0 0 10px black;
}

.fourohfour{
  perspective: 300px;
}

#panel2 .panel-box h2{
  float: none;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotateY(0deg);
    }
    to{
        -webkit-transform: rotateY(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
}
