.fourohfour h1.text404{
  display: block;
  position: absolute;
  margin: 0;
  backface-visibility: hidden;
  width: 330px;
  font-size: 12em;
  color: red;
  text-shadow: 0 0 10px black;
}

.fourohfour{
  width: 330px;
  height: 250px;
  perspective: 300px;
  position: relative;
  margin: auto;
}

#panel2 .panel-box h2{
  float: none;
}

.rotate{
  transform: rotateY(180deg);
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
}

@-webkit-keyframes rotating {
    from{
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY( 0deg );
        -o-transform: rotateY( 0deg );
    }
    to{
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY( 360deg );
        -o-transform: rotateY( 360deg );
    }
}

@keyframes rotating {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
      transform-style: preserve-3d;
}
