body{
  background:black;
  color:white;
}

.panel{
  width: 100%;
  min-height: 100px;
  }
  
  .panel:nth-child(2){
    background:white;
    color:black;
  }
  
  .panel-box{
  margin:auto;
  max-width: 1000px;
  padding: 20px;
  }
  
  
